li
  p= task.title
  a(href= task.url, target='_BLANK')= task.url
  p= task.description
  form(action='/task/'+task._id, method= 'POST')
    input(type='hidden', name='_method', value='delete')
    input.btn.btn-mini.btn-danger(type= 'submit', value='削除')
