!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    arcitcle
      h1 朝の定常管理
      nav
        h1 Navigation
        ul
          li
            a(href='/') チェックリスト
          li
            a(href='task') task
          li
            a(href='todo') todo
      header
        h1= title
      section!= body
      footer!= partial('footer')
