include mixins/todo

!= messages()

section
  h3 新規TODO
  form(action='/todo', method= 'POST')
    input(type='hidden', name='deleted')
    mixin edit({})
    input(type='submit')

section
  h3 TODO一覧
  ul!= partial('todo', todos)

script(type="text/javascript")
  function showHide(targetID) {
    if( document.getElementById(targetID)) {
      if( document.getElementById(targetID).style.display == "none") {
        document.getElementById(targetID).style.display = "block";
      } else {
        document.getElementById(targetID).style.display = "none";
      }
    }
  }
