include mixins/todo

!= messages()

section.toggle
  h3 新規TODO
  div
    form(action='/todo', method= 'POST')
      mixin edit({})
      input(type='submit')

section
  h3 TODO一覧
  div.toggle
    ul!= partial('todo', todos)
