body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

s.diagonally {
  position: relative;
  text-decoration: none;
}

s.diagonally:after {
  content: "";
  width:100%;
  height: 2px;
  display: block;
  position: absolute;
  top: 0.5em;
  left: 0;
  overflow: hidden;
  background-color: #000;
  border: 1px solid #fff;
}

s.diagonally.leftUp:after {
  transform:rotate(4deg);
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
}
